
@font-face {
    font-family: 'Granite';
    src: url(Fonts/Granite-Bgvl.ttf)  format('truetype');
}

@font-face {
    font-family: 'Suburbia';
    src: url(Fonts/SuburbiaPersonalUse-vmEaA.ttf) format('truetype');
}


h1{
    color: rgba(217, 217, 217, 1);
    font-family: 'Suburbia';
    font-size: calc(2rem + 2vw);
}


h2 {
    color: rgba(217, 217, 217, 1);
    font-size: calc(1.2rem + 2vw);
    font-family: 'Suburbia';}

p{
    color: rgba(217, 217, 217, 1);
    font-size: calc(1rem + 1vw);
    font-family: 'Suburbia';
}








body{
    
    background-image: url(./img/Black_brick_background.webp);
    margin: 0;
}



#title_bar{
    background-color: rgba(217, 217, 217, 1);
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100vw;
    max-width: inherit;
    max-height: 200px;
    align-items: center;

    
}

#search_bar {  

    height: 20px;
    width: 150px;
    margin-left: 55%;
      

}

#product_bar{
    overflow: visible;
    background-color: rgba(173, 173, 173, 1);
    width: 100vw;
    max-width: inherit;
    max-height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;

}



#promoted_page{
    background-color: rgba(41,41,41, 1);

}


#promoted_page-text{
    

}



#bottom_bar{
    background-color: rgba(173, 173, 173, 1);
    position: fixed;
    bottom: 0;
    width: 100vw;
    max-height: fit-content;
    padding-top: 10px;
    display: flex;
    flex-direction: row-reverse;
}

#shopping-cart{
    margin-right: 1vw;
    margin-bottom: 1vw;
}










@media screen and (min-width: 641px) and (max-width:1007px){



}






@media  screen and (min-width:1008px) {




}