
@font-face {
    font-family: 'Granite';
    src: url(Fonts/Granite-Bgvl.ttf)  format('truetype');
}

@font-face {
    font-family: 'Suburbia';
    src: url(Fonts/SuburbiaPersonalUse-vmEaA.ttf) format('truetype');
}
@font-face {
    font-family: 'Rocklife-Grunge';
    src: url(Fonts/RocklifeGrunge-MVeMv.ttf) format('truetype');
}
@font-face {
    font-family: 'Impact-label';
    src: url(Fonts/ImpactLabel-lVYZ.ttf) format('truetype');
}
@font-face {
    font-family: 'Impact-label-rev';
    src: url(Fonts/ImpactLabelReversed-nDMR.ttf) format('truetype');
}


h1{
    color: rgba(217, 217, 217, 1);
    font-family: 'Granite';
    font-size: calc(2rem + 2vw);
}


h2 {
    color: rgba(217, 217, 217, 1);
    font-size: calc(1.2rem + 2vw);
    
}

p{
    color: rgba(217, 217, 217, 1);
    font-size: calc(1.5rem + 1vw);
    font-family: 'Impact-label-rev';
}




*, *::before, *::after{

    box-sizing: border-box;
}

ul{
    margin: 0;
    padding: 0;
}

nav{
    margin: 0;
    padding: 0;
}

body{
    
    background-image: url(./img/Black_brick_background.webp);
    margin: 0;
    
}



header{

    position: relative;
    


}

#title_bar{
    background-color: rgba(217, 217, 217, 1);
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100vw;
    max-width: inherit;
    max-height: 200px;
    align-items: center;

    
}

#search_bar {  

    height: 20px;
    width: 150px;
    margin-left: 30vw;
      

}


#product_item_links{

    background-color: rgba(173, 173, 173, 1);

    height: 100vh;
    max-height: 100vh;
    width: 50vw;
    max-width: 50vw;
    left: 0;
    z-index: 10;
    position: fixed;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);

}
#product_item_links > ul{
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    gap: 5vh;
    font-family: 'Suburbia';
    font-size: calc(3vw + 2rem);
}
#product_item_links > li{
    border: 5px;
    border-color: black;
}





.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}




#cart{

    display: block;
    background-color: rgba(173, 173, 173, 1);
    width: 50vw;
    max-width: 50vw;
    max-height: 70vh;
    height: 50vh;
    z-index: 21;
    position: fixed;
    bottom: 80px;
    right: 5vw;
    
}

#cart > h3{
    text-align: center;
}

#cart-list{

    padding: 5vw;
    font-size: larger;
    font-family: 'impact-label-rev';
    font-weight: 500;

    
}

#cart-list > li{

   margin-bottom: 2vh;

}








.promoted_page{
    display: grid;
    background-color: rgba(41,41,41, 1);
    margin-top: 10vh;
    padding: 20px;
    grid-template-columns: 1fr;
    padding-bottom: 10vh;
    text-align: center;
    
}


#promoted_page-text{
    
margin: bottom;
}



.promoted-images-slider{

    display: flex;
    width: 250px;
    height: 250px;
    position: relative;
    align-items: center;
    margin: auto;
    
}
.promoted-images-slider > ul{

list-style-type: none;

    
}

  
.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide[data-active]{

    opacity: 1;
}

.slide > img{

    display: block;
    height: 100%;
    width: 100%;
    object-fit:contain;
    object-position: center;
}

.slide > p{

    position: relative;
    margin: 0;
    padding: 0; 
    border-radius: 5px;
    font-size: calc(1rem + 0.8vw);;

}

.slider-button{
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    color: rgba(173, 173, 173, 1);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: .25rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.slider-button:hover, 
.slider-button:focus{
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}

.slider-button.prev{

    right: 60vw;
}

.slider-button.next{
    left: 60vw;
}




/*shop page--------------------------------------*/

.best_sellers{

    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    gap: 5%;
    margin-top: 20vh;
}

.item{

    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}



.item-name{

    font-family: 'Impact-label-rev';
    font-size: calc(1.5rem + 1.2vw);
    text-align: center;
    

}

.item > button{
    
    cursor: pointer;
    background-color:#c90606;
    max-width: fit-content;
    height: 8vh;

}
.item > button >p{
 
   margin: 0;
}



#bottom_bar{
    background-color: rgba(173, 173, 173, 1);
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100vw;
    max-height: fit-content;
    padding-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    z-index: 20;
    

}

#shopping-cart{
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.cart{
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    padding-right: 10vw;
    padding-bottom: 1vh;
    gap: 2vw;
}



#menu{
    cursor: pointer;
    
}


.mobile_nav{
    overflow: hidden;
    background-color: rgba(173, 173, 173, 1);
    position: relative;
    
}


#product_item_links{
    display: none;
    
}

.mobile_nav a{
color: black;
display: block;

}





@media screen and (min-width: 641px) and (max-width:1007px){



}






@media  screen and (min-width:1008px) {

#product_item_links{
    display: none;
}

#menu{
    display: none;
}

}